<p>The menu:</p>

<nav>
    <a routerLink="/" routerLinkActive="active" > home </a>
    <a routerLink="/student list" routerLinkActive="active" > student list</a>
    <a routerLink="/teachers details" routerLinkActive="active" > teachers details</a>
    <a routerLink="/all courses" routerLinkActive="active" > all courses </a>
    <a routerLink="/all courses with silibus" routerLinkActive="active">all courses with silibus</a>
    <a routerLink="/time" routerLinkActive="active">time</a>
    <a routerLink="/api" routerLinkActive="active">events api</a>
    <a routerLink="/add classes" routerLinkActive="active">add classes</a>
    <a routerLink="/home" routerLinkActive="active">home!!</a>
    <a routerLink="auth" routerLinkActive="active">login!!</a>
</nav>
<router-outlet></router-outlet>